::-webkit-scrollbar { 
    display: none; 
}
body{
    margin: 0;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
}
.song {
    
    margin-top:35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;

}
.song img{
    border: 1px solid #b0b0b0;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-left: 6px;
    cursor: pointer;
}
.song p,h2{
    margin: 0;
    padding: 0;
    font-size: 12pt;
}
.song .text span,.time{
    color: #969292;
}
.song .info{
    display: flex;
    flex-direction: row;

}
.song .time{
    padding-right: 20px;
}

.song img:hover {
    border-color: #e30611;
    animation: borderradius 1.5s ease-in;
    animation-fill-mode:forwards;
}


@keyframes borderradius {
    0% {
        border-radius: 0%;
    }
    25% {
        border-radius: 10%;
    }
    50% {
        border-radius: 20%;
        box-shadow: 0 0 0 0 #e30611;
    }
    70%{
        border-radius: 30%;
        box-shadow: 0 0 0 2px #e30611;
    }
    100%{
        border-radius: 50%;
        box-shadow: 0 0 0 5px #e30611;
    }
}