@import url('https://fonts.googleapis.com/css?family=Righteous');


body{
    margin: 0;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
a{
    color: black;
    text-decoration: none;    
}
i{
    color:#b0b0b0;
}
main{
    height: 100%;
}
.logo{
    min-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}


.left-side{
    height: 100%;
    width: 27vw;
    min-width: 450px;
    background-color: #e30611;
    color:#ffffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header h2{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-size: 70pt;
    letter-spacing:15px;
    margin: 0;
    height: 100px;
    text-align: center;
}
header{
    width: 27vw;
    min-width: 450px;
    height: 30%;
    background-color: #e30611;
}
header p{
    text-align: right;
    margin: 0;
    font-size: 14pt;
}
nav{
    margin-top:40px;
}
nav a{
    color:#ffffffff;
    text-decoration: none;    
}
nav li{
    list-style: none;
    margin-top: 10px;
    font-size: 10pt;
}
nav ul{
    padding-bottom: 20px;
    margin:0;
}
.player{
    background-color: #e30611;
    width: 27vw;
    min-width: 450px;

    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.player img{
    
    margin-top: 0;
    width: 27vw;
    min-width: 450px;
    height: 310px;
    margin-bottom: 0px;
}
.banner{
    position: relative;
    color:rgb(0, 0, 0);
}
.banner .start{
    position: absolute;
    z-index: 100;
    bottom: 5px;
    left:10px;
}
.banner .end{
    position: absolute;
    z-index: 100;
    bottom: 5px;
    right: 10px;
}
progress{
    position: absolute;
	bottom: 4px;
	left: 0;
    width: 100%;
    height: 30px;
    background-color: #b0b0b067;
    color:#ffffffff;
    opacity: 0.7;
}
.player p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10pt;
    padding-left: 40px;
}

.control{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 0;
    
}
.control i:hover{
    color: #ffffff;
}

aside{
    width: 67vw;
    display: flex;
    height: 65px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

aside i{
    margin: 10px;
}
.search{
    border: 1px solid #b0b0b0;
    min-width: 300px;
    width: 50vw;
    height: 30px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.search i{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#b0b0b0 ;
   
}
.search input{
    border: none;
    width: 50vw;
    margin-left: 10px;
}
.search .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-volume-mute{
    animation: none;
}
.fa-volume-up{
    border-radius: 50%;
    animation:pulse 2s infinite ease-in-out;
}
.fa-volume-up{
    color: deepskyblue;
}
.fa-random:hover{
    animation: shake 4s infinite ease-in-out;
} 
.fa-sync-alt:hover{ 
    animation: spin 2s infinite ease-in-out;
}



.today {
    margin-left: 70px;
    margin-top:40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.today i{
    color: #e30611;
    margin-right: 30px;
}
.today p,a{
    margin: 0;
    padding: 0;
    color: #b0b0b0;
}
.today span{
    font-size: 16pt;
}

.playlist{
    height: 62vh;

    margin-left: 70px;
    border: none;
    width: 50vw;
    max-width: 900px;
}
.video iframe{
    position: absolute;
}
.video{
    position: fixed;
    z-index: 100;
    right: 370px;
    top:70%;
     
}
.video iframe{
    height: 150px;
    width:300px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

@keyframes spin {
    100% {  transform:rotate(360deg);} 
}
@keyframes shake { 
        0% {
        transform: translate(1px, -5px) rotate(-0.5deg); }
        10% {
        transform: translate(1px, 0px) rotate(0.5deg); }
        20% {
        transform: translate(2px, -7px) rotate(-2.5deg); }
        30% {
        transform: translate(-8px, -2px) rotate(2.5deg); }
        40% {
        transform: translate(1px, 2px) rotate(-1.5deg); }
        50% {
        transform: translate(-3px, 9px) rotate(-0.5deg); }
        60% {
        transform: translate(5px, 2px) rotate(-2.5deg); }
        70% {
        transform: translate(0px, -7px) rotate(2.5deg); }
        80% {
        transform: translate(-2px, -3px) rotate(0.5deg); }
        90% {
        transform: translate(-8px, 3px) rotate(-0.5deg); }
        0%, 100% {
        transform: translate(0, 0) rotate(0); }
}
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 191, 255, 0.404);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 191, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 191, 255, 0);
    }
}

@media screen and (min-width: 1500px){
    .player img{
        width: 27vw;
        min-width: 370px;
        height: 400px;
    }
}
@media screen and (min-height: 1000px){
    .playlist{
       height: 82vh;
    }
}